.authorization-card {
    margin-top: 5rem;
    width: 40rem;
    max-width: 40rem;
    background-color: rgba(247, 247, 247, 0.642);
    border-radius: 0.5rem;
}

.authorization-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
